/**
 * @file
 * Navigation Styling
 */

a {}
a:link    {}
a:visited {}
a:hover   {}
a:active  {}
a.active  {}

/* Global focus style for links. */
a:active,
a:focus {}

/*
 * Primary, Secondary and Menu Bar region menus
 * Use one of the following id's for granular control:
 * #menu-bar (menu bar region)
 * #primary-menu (main menu)
 * #secondary-menu (secondary/user menu)
 * You can target all of these with .nav or div[id$="menu-bar"]
 */
.nav {
  clear:both;
  margin: 0;
}

.nav ul.menu {
  margin: 0;
}

.nav li,
.nav .menu li {
  display: inline;
  float: left;
  list-style: none;
}

.nav li a,
.nav .menu li a {
  display: block;
  white-space: nowrap;
  padding: 0 10px;
}

.nav ul,
.nav ul.menu,
.nav ul.menu li {
  margin: 0;
  padding: 0;
}

/* Menu bar block */
.nav .block {
  margin-bottom: 0;
}

/*
 * Superfish
 */
ul.sf-menu {
  margin-bottom: 0;
}

ul.sf-menu a {
  border-left: 0;
  border-top: 0;
  padding: 0 10px;
  text-decoration: none;
  height: 1.5em;
  line-height: 1.5em;
  border-right: 1px solid red;
}

ul.sf-menu a:link,
ul.sf-menu a:visited  {
}

ul.sf-menu li:hover,
ul.sf-menu li.sfHover,
ul.sf-menu a:focus,
ul.sf-menu a:hover,
ul.sf-menu a:active {
  outline: 0;
}

/* Prevent momentary display of sub menus
ul.sf-vertical li ul,
ul.sf-horizontal li ul,
ul.sf-navbar li ul ul {
  display: none;
}
*/

/* Superfish blocks */
nav#block-superfish-1 { margin-bottom: 40px; }
.block-superfish .block-inner,
.block-superfish .block-inner .content {
}

.block-superfish ul,
.block-superfish ul ul,
.block-superfish ul ul ul,
.block-superfish ul ul ul ul,
.block-superfish li {
  margin: 0 !important;
  padding: 0 !important;
}

/* Vertical style */
.sf-vertical,
.sf-vertical li {
  width: 100%;
}
.sf-vertical li {}
.sf-vertical li.last {}
.sf-vertical li:hover ul,
.sf-vertical li.sfHover ul {
  left: 100%; /* match ul width */
  top:  0;
  margin: 0;
  padding: 0;
}

.sf-vertical li a {
  padding: 0 10px;

}

/* Navbar style */
.sf-navbar {
  padding-bottom: 0 !important;
}

/* Sensible padding for the default style */
.sf-menu.sf-style-default a {
  padding: 0 10px;
}
/*Extra styles for Superfish */
#block-superfish-1 div.block-inner { margin-left: 0; margin-right: 0;}
.sf-menu.sf-style-white.sf-navbar li li { background-color: #9A923D; color: white; }
.sf-menu.sf-style-white a {     color: #666666;     padding: 0 0.85em; }
.sf-menu.sf-style-white li:first-child a {    padding-left: 0.7em; }
.sf-menu.sf-style-white li:last-child  a {    padding-right: 0.7em; }
.sf-menu.sf-style-white li, .sf-menu.sf-style-white.sf-navbar { background-color:  white; }
.sf-menu.sf-style-white.sf-navbar li { border-right: 1px solid #B74A2B; height: 22px; vertical-align: middle; text-align: center;}
.sf-menu.sf-style-white.sf-navbar a  {   font-family: FrutigerLTW01-57Condens, Arial; text-transform: lowercase; font-size: 1.3em; line-height: 1em;}
.sf-menu.sf-style-white.sf-navbar a:hover  { color:  #9A923D;}
.sf-menu.sf-style-white.sf-navbar a:hover ul  { border-radius: 5px;}
/* May be able to just use .first, .last instead of :first-child, :last-child below */
.sf-menu.sf-style-white.sf-navbar li:last-child, .sf-menu.sf-style-white.sf-navbar li.last   {    border-right: 0px; }
.sf-menu.sf-style-white.sf-navbar li ul {     background-color: #FFFFFF;     text-align: center;    left: auto; right: auto; width: 520px; }
.sf-menu.sf-style-white.sf-navbar li li   {    border-right: 1px solid #FFF; color: #FFF; height: 24px; }
.sf-menu.sf-style-white.sf-navbar li li  a {   color: #FFF; }

.sf-menu.sf-style-white.sf-navbar li li a:hover {    background-color:  #69643C; color: #FDFDFD; height: 22px;}
.sf-menu.sf-style-white.sf-navbar li ul li:last-child, .sf-menu.sf-style-white.sf-navbar li ul li.last  { border-right: 0px; }
.sf-menu.sf-style-white.sf-navbar li li:last-child, .sf-menu.sf-style-white.sf-navbar li li:last-child a:hover, .sf-menu.sf-style-white.sf-navbar li li.last, .sf-menu.sf-style-white.sf-navbar li li.last-child a:hover { border-radius: 0 5px 5px 0; }
.sf-menu.sf-style-white.sf-navbar li li:first-child, .sf-menu.sf-style-white.sf-navbar li li:first-child a:hover, .sf-menu.sf-style-white.sf-navbar li li.first, .sf-menu.sf-style-white.sf-navbar li li.first a:hover { border-radius: 5px  0 0 5px; }
.sf-menu li.sfHover ul { 	margin:auto; 	top:	27px;   }
.sf-menu li.sfHover ul li a { 	padding-top: 	2px;  padding-bottom: 0px;} 
 ul.sf-menu a { height: 20px;}
 .sf-menu.sf-style-white a.sf-with-ul { padding-right: 0.9em;}
body.i18n-fr .sf-menu.sf-style-white a, body.i18n-fr  .sf-menu li.sfHover ul li a {  padding: 0 0.65em; }
 .sf-sub-indicator  {right: 45%; top: 1em;}
 .sf-menu.sf-style-white .sf-sub-indicator {
  background-image: url("../images/arrows.png");
}
/*
 * Menus
 */
ul.menu {
  margin-left: 15px;
}

ul.menu ul,
ul.menu ul ul,
ul.menu ul ul ul {
  margin-left: 15px;
}

ul.menu li {
  margin: 0;
}

ul.menu li.collapsed {
}

ul.menu li.expanded  {
}

ul.menu li.leaf      {
}

ul.menu li a:link,
ul.menu li a:visited {
}

ul.menu li a:hover,
ul.menu li a:focus,
ul.menu li a:active  {
}

ul.menu li.active a  {
}

ul.menu li.active-trail a {
}

ul.menu li.first {
}

ul.menu li.last  {
}

.block .menu li.content {
  padding: 0; /* this class (if it exists) could be a problem so reset the padding */
}

/* Breadcrumbs as an ordered list */
#breadcrumb {
  padding-bottom: 1em;
}

#breadcrumb ol {
  margin: 0;
  padding: 0;
}

#breadcrumb li {
  list-style: none;
  display: inline;
}

#breadcrumb a {
}

#breadcrumb a:link,
#breadcrumb a:visited {
}

#breadcrumb a:hover,
#breadcrumb a:focus,
#breadcrumb a:active {
}

/* Pager */
ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: .5em;
}

ul.pager li.pager-current {
  font-weight: 700;
}

.block ul.pager li {
  margin: 0;
}

/* Theme the various states of pager links. */
ul.pager li a:link,
ul.pager li a:visited {
}

ul.pager li a:hover,
ul.pager li a:focus,
ul.pager li a:active {
}

/* Note: .pager-current is for the current page. */
ul.pager li.pager-item  {
}

ul.pager li.first {
}

ul.pager li.last {
}

ul.pager li.pager-current {
}

ul.pager li.pager-first {
}

ul.pager li.pager-previous {
}

ul.pager li.pager-next {
}

ul.pager li.pager-last {
}

/* Skip Navigation */
#skip-link {
  left: 50%;
  margin-left: -6.5em;
  margin-top: 0;
  padding: 0 0.5em;
  position: absolute;
  width: 12em;
  z-index: 50;
}

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  line-height: 2;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

#skip-link a:hover,
#skip-link a:focus,
#skip-link a:active {
  outline: 0;
}

/* Tabs */
#tasks {
  margin-bottom: 1em;
}

ul.primary {
  border-bottom-color:#ccc;
  margin: 1.5em 0 0;
  padding: 0 0 .2em .3em;
}

ul.primary li a {
  background-color: #f5f5f5;
  margin-right: .08em;
  border-color: #ccc;
  padding: .1em 10px .2em;
}

.local-tasks ul.primary li a:hover {
  background-color: #f7f7f7;
  border-color: #ddd;
}

.local-tasks ul.primary li.active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 .3em 1em;
}

ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}

ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}


/* Action links */
ul.action-links {
  margin-left: 0;
  margin-right: 0;
  list-style: none;
}

ul.action-links li {
}
